host/modules/*/__pycache__/

host/__pycache__/
*.pyc
*.pyo

__pycache__/
*.pyc
*.pyo

.venv/

.vscode/

host/.env

.cloudflared/
host/cloudflared/

host/privatefiles/
host/files/
host/skins/

bot_data/